@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        <h3>ABOUT Multi Cars</h3>
        <p> About</p>
        <p>
            Careers With Us
            Terms & Conditions
            Privacy Policy
            Corporate Policies
            Investors
            FAQs
        </p>
    </div>
</main>
