@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One the way to help you 27x7 ...<br />
        Please contact us your Questions???<br />
        <abbr title="Phone">P:</abbr>
        080-66552211;
    </address>
    <p>Office mail for support and complaint..</p>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Multicarzz@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketMulticars@gmail.com</a>
    </address>
</main>